@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.header,
.footer {
  display: flex;
  justify-content: space-between;
}

.footer {
  background-color: #eeeeee;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-links,
.right-links {
  display: flex;
  gap: 16px;
  padding-left: 16px;
  padding-right: 16px;
}

.input {
  margin-bottom: 16px;
}

button {
  padding: 12px 24px;
}
