/* Add CSS Styling */
.odd {
  background-color: rgb(231, 75, 75);
  font-family: Verdana, DejaVu Sans, sans-serif;
}

.adjust-font-size {
  font-size: 24px;
}

#second {
  color: rgb(19, 19, 225);
  font-size: 36px;
}

#fourth {
  background-color: rgb(72, 232, 85);
  font-weight: bold;
  font-size: 24px;
}
